<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened="true" class="aside">
            <mat-toolbar>App Etiquetas</mat-toolbar>

            <div class="menu">
                <a routerLink="/etiqueta" href="" mat-button>Caldera por Etiquetas</a>
                <a routerLink="/caldera" href="" mat-button>Etiquetas por Caldera</a>
                <a routerLink="/editar" href="" mat-button>Editar Caldera</a>
            </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
