<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened="true" class="aside">
            <mat-toolbar>App Etiquetas
            </mat-toolbar>

            <div class="menu">
                    <a href="" mat-button>Etiquetas Caldera</a>
                    <button mat-button>Etiquetas Caldera</button>
            </div>
    </mat-sidenav>
    <mat-sidenav-content>
            <app-caldera-etiquetas></app-caldera-etiquetas>
    </mat-sidenav-content>
</mat-sidenav-container>
