
<mat-toolbar>
  <span>Editar Parametros Caldera</span>
</mat-toolbar>

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <div class="row">
      <mat-form-field>        
        <input matInput placeholder="Introducir Etiqueta" maxlength="10"  style="text-transform:uppercase" />  
      </mat-form-field>
      <button mat-icon-button><mat-icon>search</mat-icon></button>
      <label>Aqui esta la descripcion</label>
    </div>

    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Introducir Producto" maxlength="10"  style="text-transform:uppercase" />
      </mat-form-field>
      <button mat-icon-button><mat-icon>search</mat-icon></button>
      
      <label>Aqui esta la descripcion</label>
    </div>

    <div class="button-row">
        <button mat-raised-button><mat-icon color="primary">content_copy</mat-icon></button>
        <button mat-raised-button><mat-icon color="primary" >print</mat-icon></button>
        <button mat-raised-button><mat-icon color="primary">delete</mat-icon></button>
    </div>
  </div>

  <mat-table #table [dataSource]="dataSource">  
    <ng-container matColumnDef="orden">
      <mat-header-cell *matHeaderCellDef  >Orden. </mat-header-cell>
      <mat-cell *matCellDef="let element"  >
          <input type="text" name="" id="" [(ngModel)]="element.orden">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="parametro">
      <mat-header-cell *matHeaderCellDef> Parametro. </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <input type="text" name="" id="" [(ngModel)]="element.parametro">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="valor">
        <mat-header-cell *matHeaderCellDef> Valor. </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <input type="text"  [(ngModel)]="element.valor">
          </mat-cell>
      </ng-container>
  

    <ng-container matColumnDef="medida">
      <mat-header-cell *matHeaderCellDef> Medida. </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
          <input type="text" name="" id="" [(ngModel)]="element.medida">
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="accion">
          <mat-header-cell *matHeaderCellDef>Acciones </mat-header-cell>
          <mat-cell *matCellDef="let element">
              <button mat-icon-button><mat-icon>edit</mat-icon></button>  
              <button mat-icon-button (click)="guardarParametro(element)"><mat-icon>save</mat-icon></button>    
              <button mat-icon-button><mat-icon>note_add</mat-icon></button>
              <button mat-icon-button><mat-icon>delete</mat-icon></button>    
          </mat-cell>
  </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>


